.post {
  margin: 15px;
}

.post img {
  height: 450px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

@media (max-width: 500px) {
  .post img {
    padding: 5px;
    height: 350px;
  }
}
